<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar scroll</a>
  </div>
  <%= link_to '<button type="button">Login</button>'.html_safe, root_path %>
  <%= link_to '<button type="button">Sign Up</button>'.html_safe, root_path %>
</nav>